server:
  port: 4550
  shutdown: "graceful"

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      # Odd to expose actuator info on root not the sensible default of /actuator/info etc
      base-path: /
      exposure:
        include: health, info, prometheus
  tracing:
    enabled: true
    sampling:
      probability: 1.0

spring:
  config:
    import: "optional:configtree:/mnt/secrets/rpe/"
  application:
    name: Spring Boot Template
  web:
    resources:
      add-mappings: false     # disable serving any static resources

azure:
  application-insights:
    instrumentation-key: ${rpe.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}

case-urn-mapper:
  url: ${CP_BACKEND_URL:http://localhost}
  path: /system-id-mapper-api/rest/systemid/mappings
  cjscppuid: ${CJSCPPUID:00000000-0000-0000-0000-000000000000}

logging:
  level:
    uk.gov.hmcts.cp: INFO
